[workspace]
name = "onnx-tests"
description = "Property-based tests for the ONNX standard"
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "linux-aarch64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."
create-report = "pytest --co --create-report"

[tasks.test-reference]
cmd = "pytest tests"
env = { "RUN_CANDIDATE" = "onnx_tests.runtime_wrappers.run_reference" }
[tasks.test-ort]
cmd = "pytest tests"
env = { "RUN_CANDIDATE" = "onnx_tests.runtime_wrappers.run_ort" }

[dependencies]
hypothesis = ">=6.130.4"
mypy = ">=1.15.0"
ndonnx = ">=0.10.1"
numpy = ">=2.2.4"
onnx = ">=1.18.0"
onnxruntime = ">=1.20.1"
pip = "*"
pytest = ">=8.3.5"
python = ">=3.10"
ruff = ">=0.11.3"
setuptools = ">=61"
setuptools-scm = "*"
spox = ">=0.16"

[feature.lint.dependencies]
pre-commit = "*"
insert-license-header = "*"
docformatter = "*"
ruff = "*"
prettier = "*"
nbstripout = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"

[environments]
py310 = ["py310"]
py311 = ["py311"]
py312 = ["py312"]
lint = { features = ["lint"], no-default-feature = true }
